/* Colors to use throughout */
:root {
    --moonstone: #5BADBF;
    --davysgray: #5D5E60;
    --celeste: #B9FAF8;
    --outerspace: #36413E;
}

/* Color the background of the page */
html {
    background-color: var(--davysgray);
}

/* Header styling */
.header-name {
    text-align: center;
    color: var(--celeste);
}

/* Styles for the selected current tab */
.nav-link-active {
    text-decoration: none;
    color: var(--davysgray);
    font-weight: bold;
    cursor: default;
}

/* Removes hover effect to the active tab */
.nav-link-active:hover {
    color: var(--davysgray);
}

/* Nav styling */
nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--moonstone);
}

/* list styling and positioning */
.list {
    list-style-type: none;
    background-color: var(--moonstone);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Nav item styling */
.items {
    margin-right: 20px;
    font-size: 20px;
    color: var(--celeste);
    cursor: pointer;
}

/* Hover effect when items are hovered */
.items:hover {
    color: var(--davysgray);
}

/* Footer styling */
.footer {
    position: fixed;
    background-size: cover;
    padding: 5px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #5BADBF;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

/* Footer anchor tags */
.footer-a {
    color: #B9FAF8;
    font-size: 25px;
    text-decoration: none;
}

/* Hover effect for footer links */
.footer-a:hover {
    color: var(--davysgray);
}

/* Side menu styling (for mobile screens) */
.side-menu {
    display: none;
    position: absolute;
    background: var(--davysgray);
    right: 10px;
    font-weight: bold;
    width: 40px;
    top: 83px;
    padding: 5px;
    color: var(--celeste);
    font-size: 18px;
    border: 1px solid var(--celeste);
    border-radius: 10%;
}

/* Media queries */
@media screen and (max-width: 500px) {
    .list {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .items:nth-child(1) {
        border-top: 1px solid var(--celeste);
        margin-top: 50px;
    }

    .items {
        width: 100%;
        border-top: 1px solid var(--celeste);
        padding: 20px 0;
    }

    .side-menu {
        display: block;
    }
}