/* Colors to use throughout */
:root {
    --moonstone: #5BADBF;
    --davysgray: #5D5E60;
    --celeste: #B9FAF8;
    --outerspace: #36413E;
}

.card {
    border: 0 !important;
}

/* Container for card overlays */
.overlay-container {
    position: relative;
    width: 100%;
}

.btn:hover {
    background-color: var(--moonstone);
}

/* Image styling */
.img-size {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top left;
}

/* Overlay properties */
.overlay {
    position: absolute;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--outerspace);
}

/* Makes the overlay appear on hover (when the container is hovered) */
.overlay-container:hover .overlay {
    opacity: .95;
    border: 0;
}

/* Styling for title on the overlay */
.title {
    color: var(--celeste);
    font-size: 25px;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Styling for description on the overlay */
.description {
    color: var(--celeste);
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Card footer styling */
.card-footer {
    background-color: var(--celeste);
    border: 0;
}

/* Styling for 'click to view app' prompt on overlay */
.live {
    color: var(--moonstone);
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.profile-photo {
    border-radius: 10%;
    width: 25%;
}

.content-container {
    margin-top: 130px;
    margin-bottom: 80px;
    background: var(--davysgray);
}

/* Removes the overlay on smaller screen sizes */
@media screen and (max-width: 1200px) {
    .title,
    .description {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        flex-direction: column;
    }

    .profile-photo {
        width: 50%;
    }

    .content-container {
        margin-bottom: 320px;
    }
}